@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    height: 100vh;
}
main{
    display: flex;
    width: 40%;
    margin: auto;
}
.left-div{
    width: 50%;
}
.left-div img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.right-div{
    width: 50%;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2em;
}
h1{
    font-family: 'Fraunces', sans-serif;
}
p{
    font-size: 14px;
    font-family: 'Monserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    line-height: 150%;
    margin-top: 25px;
}
button{
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 0.8em;
    margin-top: 30px;
}
button:hover{
    cursor: pointer;
    background-color: hsl(159, 58%, 15%);
}
button p{
    color: white;
    display: inline;
}
button img{
    display: inline;
}
h1{
    font-size: 25px;
}
.price-div{
    margin-top: 20px;
}
.big-price{
    display: inline;
    color: hsl(158, 36%, 37%);
}
.small-price{
    display: inline;
    text-decoration: line-through;
}
@media screen and (max-width: 500px) {
    main{
        width: 95%;
        height: 100%;
        flex-direction: column;
    }
    .left-div{
        height: 40%;
        width: 100%;
    }
    .left-div img{
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }
    .right-div{
        height: 60%;
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
}